<style>
  @counter-style repeating-emoji {
    system: cyclic;
    symbols: "\1F389""\1F38A""\1F973";
    suffix: "  ";
  }

  .tldr ul {
    list-style: none;
    list-style-type: repeating-emoji;
    list-style-position: inside;
  }

  .tldr li {
    padding: 0.8em;
    margin-bottom: 0.5em;
    background-color: #fff;
  }

  h1,
  h2,
  h3 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 0.4em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.8em;
  }
</style>

<div class="text-page">
  <div class="container">
    <h1 class="page-heading">2020: WTF</h1>
    <section class="tldr">
      <h2 class="section-heading">TL;DR</h2>

      <ul>
        <li>Demuxed 2020 is going to be online-native!</li>
        <li>The dates are October 27-29.</li>
        <li>Call for speakers is open until August 15.</li>
        <li>
          We'll focus talks in the morning PST in an effort to make things more
          accessible for Europe.
        </li>
        <li>
          There are still going to be (optional) sweet t-shirts for attendees
          (and speaker gifts)!
        </li>
        <li>Tickets are pay-what-you-want starting at $49</li>
        <li>1/3 (or more) of ticket revenue is going to charity</li>
      </ul>
    </section>

    <section class="details">
      <h2 class="section-heading">The Deets</h2>

      <p>
        We held off for as long as possible to make the call, but we think it's
        time to officially announce Demuxed is going to be an online-native
        event this year. We were hoping that things might be settled down enough
        by October for us to see each other in real life, but unfortunately the
        reality just doesn't look like we'll be able to safely get together.
      </p>

      <p>
        That being said, we're really excited about what we've got planned
        online! You may be as allergic to the term
        <span title="ew">"webinar"</span> as we are, but don't worry, the same
        rules around no sales/marketing talks still apply, and we'll be using
        the same talk submission process.
      </p>

      <h3>Talk submissions</h3>

      <p>
        <strong
          >We're going to open up the usual talk submission process until August
          29.</strong
        >
        We'll have more details and resources for speakers that get accepted,
        but we'll be pre-recording the talks themselves, so you don't have to
        worry about your internet failing at the worst time or your household
        deciding to get talkative (looking at my 9 month old and bark-y dog for
        that one). We'll even do all the editing for your videos, so we'll make
        it as painless as possible.
      </p>

      <h3>How will the conference work?</h3>

      <p>
        When the event starts, we’ll live stream the content and pair it with
        coordination in chat. Since the speakers have pre-recorded their
        content, they can hang out in chat with the rest of us! We can’t promise
        they’ll answer every question, but theoretically they could. The
        Future™!
      </p>

      <p>
        The emcees will still be live (they're the best part anyway, RIGHT?!),
        and we'll have some live Q&A with speakers throughout the event.
      </p>

      <p>
        If you decide to get a swag box (more on that in a bit), it'll be
        shipped right to your door. You
        <span class="strikethrough">need</span> get to supply your favorite
        chair.
      </p>

      <p>Aside from donating to a good cause, your ticket gets you:</p>
      <ul>
        <li>
          Watching great content live with your fellow, amazing video engineers
          from around the world.
        </li>
        <li>The good feeling of paying for something you (hopefully) value.</li>
        <li>High quality editing/production.</li>
        <li>
          Supporting future Demuxed events by helping us offset losses from this
          year and prepare for next (turns out not holding an event is also
          expensive).
        </li>
      </ul>

      <p>
        The nitty-gritty details on this are subject to change! This is a first
        for us, so we're going to have to roll with some punches along the way.
      </p>

      <h3>But what about my t-shirt and badge?!</h3>

      <p>
        FEAR NOT, FRIEND! There are two ticket options, one of which comes with
        a swag box. We're sure you could have done the math, but to spell it
        out, the box is $49 shipped. You'll be able to fill in your sizing and
        shipment details directly with our distributor. It will include the
        annual t-shirt and a name tag (yes, your household probably knows your
        name, but look, some of us care about collection continuity). There will
        be some cool surprises, promise. We never include stuff we don't want
        ourselves.
      </p>

      <h3>Sponsorships</h3>

      <p>
        Yes, we'll be doing sponsorships again. If you've sponsored in the past,
        you'll get an email really soon with details (promise!). If you either
        didn't get that email or are interested, we've structured/simplified
        things a bit differently than in years past, so
        <a href="mailto:sponsor@demuxed.com">email us</a> if you want to support
        this year's event!
      </p>

      <h2>Giving to social justice</h2>

      <p>
        We're donating 1/3rd of ticket revenue to charities that are working for
        diversity and inclusion and/or fighting for racial equality. The minimum
        ticket price is $49, but you can specify an amount over that if you'd
        like.
        <strong>Any additional money</strong> over the base price goes to
        charity and we'll figure out something special to do for folks that do
        so.
      </p>

      <p>
        If you want to donate <em>right now</em>, Demuxed is also currently
        matching up to $5,000 in donations. Our matches will be split between
        the ACLU and /dev/color, but we've been matching donations to bail funds
        and other non-profits. We'd love for you to get involved, all you need
        to do is send us a donation receipt in any way you would normally get in
        touch with Demuxed or one of the organizers.
      </p>

      <p>
        We love this community dearly. We want to see it become more
        representative of the world around us and foster an inclusive, welcoming
        environment. We've got a lot of work to do as an industry and a
        community, and we hope you'll join us. ♥
      </p>

      <p>
        <small
          >[1] Assuming the service we're using is able to ship to you/your
          country.</small
        >
      </p>
    </section>
  </div>
</div>
