---
title: Demuxed 2020
---

%section.live-embed#js-live-embed
  // %iframe{:src => "https://live-2020-demuxed-com.vercel.app/"}
:javascript
  var section = document.getElementById('js-live-embed');
  var iframe = document.createElement('iframe');
  iframe.setAttribute('allowfullscreen', 'true');
  var search = window.location.search || '';
  var mqWidth = {
    xs: 0,
    sm: 576,
    md: 768,
    lg: 992,
    xl: 1200,
    '2xl': 1300,
    '3xl': 1500,
  };

  function setHeight () {
    var height = window.innerHeight;
    var width = window.innerWidth;
    if (width < mqWidth.xl) {
      // this is the width when the chat is below the player
      iframe.setAttribute('height', '1200');
    } else {
      iframe.setAttribute('height', height - 100); // subtract a bit for the top nav and bottom footer
    }
  }
  // iframe.setAttribute('src', 'https://live-2020-demuxed-com.vercel.app/' + search);
  iframe.setAttribute('src', 'https://live-2020-demuxed-com-git-dj-responsive.demuxed.vercel.app/' + search);
  // iframe.setAttribute('src', 'http://localhost:3000/' + search);
  section.appendChild(iframe);

  setHeight();

  window.onresize = setHeight;
